<h1>使い方</h1>
<div class="row">

    <div class="col">
     
    </div>
    <div class="col-6 text-left">


     <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">前提</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">ジョハリの窓とは</h6>
          <p class="card-text">リストに登録されている性質（例・陽気である、・集中力がある）を自分自身で選択します。その後、同じリストを使い他者から自分自身への評価をしてもらます。その評価を見比べ、自身への理解・分析を深めていくツールです。<br></p>
        </div>
      </div>
        
      <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">ステップ①</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">自己性質登録</h6>
          <p class="card-text ">
            マイページにてまず自分自身への評価をしましょう。性質登録ボタンから可能です。
          </p>
        </div>
      </div>

      <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">ステップ②</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">他者評価依頼</h6>
          <p class="card-text">
            評価してもらいたい他者へリンクを送信しましょう（マイページから取得可）。5~10人が適切人数とされています。
          </p>
        </div>
      </div>
      
      <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">ステップ③</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">気長に待つ</h6>
          <p class="card-text ">他者からの評価を待ちましょう。</p>
        </div>
      </div>

      <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">ステップ④</h5>
          <h6 class="card-subtitle mb-2 text-muted text-center">評価結果</h6>
          <p class="card-text">
            他者からの評価が登録し終わったら自動的に4つの窓に分類されます。
            <br>解放の窓→自己も他者も理解している性質
            <br>秘密の窓→自己のみが認知している性質（他者からは認知されていない）
            <br>盲点の窓→他者のみが認知している性質（自己は認知していない）
            <br>未知の窓→自己も他者も認知していない性質
          </p>
        </div>
      </div>

      <div class="card center-block px-5" style="width: 100%;">
        <div class="card-body col">
          <h5 class="card-title text-center">その他・注意点</h5>
          <p class="card-text">
            ※解放の窓、盲点の窓における性質のサイドナンバーは他者からの評価数を表示しており、数字が大きいほど信頼される評価です。
            <br>※評価が適切に反映されない場合はリロードをお試しください。
            <br>※編集から自己評価の変更が可能です。
            <br>※詳細ページから他者からの評価の内訳確認と評価削除ができます。
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      
    </div>
  </div>



<%= button_to "マイページへ", user_path,method: :get,class:'btn btn-dark' %>