
<div class="top-container">
    <font color="white">
        <h1 style="padding-top:400px;">ジョハリの窓とは</h1>
        <p class="mt-6">自分自身への評価と</p>
        <p>他者からの評価を見比べ</p>
        <p>自己理解・自己分析へとつなげるツールです</p>
        <div class="row center-block">
            <div class="col-3"></div>
            <div class="col mt-6">
                <%= button_to "使い方", about_path,method: :get ,class:'btn btn-dark' %>
            </div>
            <div class="col mt-6">
                <%= button_to "マイページへ",  user_path,method: :get,class:'btn btn-dark' %>
            </div>
            <div class="col-3"></div>
        </div> 
    </font>
</div>
