<h3>
<strong>正常に保存されました。</strong>
</h3>
<br><br>
ご協力ありがとうございました！！
<br><br>
<%= button_to "自分もやってみる", top_index_path, method: :get,class:"btn btn-dark" %>
<br><br>
<%= link_to "登録をやり直す", :back %>
<br><br><br>