<h1>使い方</h1>
<div class="row">

    <div class="col">
     
    </div>
    <div class="col-6 text-left">
        
        <p>ステップ①</p>
        <p>マイページにてまず自分自身への評価をしましょう</p>
        <p>性質登録から可能です</p>
        <p></p>
        <p>ステップ②</p>
        <p>評価してもらいたい他者へリンクを送信しましょう</p>
        <p></p>
        <p>ステップ③</p>
        <p>他者からの評価を待ちましょう</p>
        <p></p>
        <p>ステップ④</p>
        <p>他者からの評価が登録し終わったら自動的に4つの窓に分類されます</p>
        <p>解放の窓→自己も他者も理解している性質</p>
        <p>秘密の窓→自己のみが認知している性質（他者からは認知されていない）</p>
        <p>盲点の窓→他者のみが認知している性質（自己は認知していない）</p>
        <p>未知の窓→自己も他者も認知していない性質</p>
        <p></p>
        <p>※解放の窓、盲点の窓における性質のサイドナンバーは評価数です。数字が大きいほど信頼される評価です</p>
        <p>※評価が適切に反映されない場合はリロードなどお試しください</p>
        <p>※編集から自己評価の変更が可能です</p>
        <p>※詳細ページから他者からの評価の内訳確認と評価削除ができます</p>
        <p></p>
        <p></p>
    </div>
    <div class="col">
      
    </div>
  </div>



<%= link_to "マイページへ", user_path %>